body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #262626;
    color: white
}
#map-container {
    margin-top: 20px;
    text-align: center;
}
iframe {
    border: none;
    width: 80%;
    height: 800px;
    overflow: hidden;
}
#csv-data {
display: flex;
justify-content: center;
}

#csv-data table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #262626;
    color: white;
}

#csv-data th,
#csv-data td {
    border: 1px solid #FFFFFF;
    padding: 8px;
}

#csv-data tr:nth-child(even) {
    background-color: #262626;
}

#csv-data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #18453B;
    color: white;
}